---
Checks: '*,
    -llvmlibc-restrict-system-libc-headers,
    -llvmlibc-implementation-in-namespace,
    -modernize-use-trailing-return-type,
    -fuchsia-default-arguments-calls,
    -misc-unused-alias-decls,
    -misc-non-private-member-variables-in-classes,
    -llvmlibc-callee-namespace,
    -hicpp-signed-bitwise,
    -clang-diagnostic-c++17-extensions,
    -google-build-using-namespace,
    -readability-redundant-string-init
'
HeaderFilterRegex: ''
FormatStyle: file